@tailwind base;
@tailwind components;
@tailwind utilities;
/* From Uiverse.io by satyamchaudharydev */ 
/* @font-face {
    font-family: inb ;
    src: url(./assets/fonts/InstrumentSans-Bold.ttf);
}
@font-face {
    font-family: inr;
    src: url(./assets/fonts/InstrumentSans-Regular.ttf);
} */
 @font-face {
  font-family: ds;
  src: url(./assets/fonts/DMSans_18pt-Regular.ttf);
 }
 body{
  font-family: ds;
  word-break: break-all;
    white-space: normal;
 }
 .bg{
  background-image: linear-gradient(62deg, rgba(1, 95, 183, 0.9732216701223994) 13%, rgba(255, 122, 151, 0.5) 4%),linear-gradient(44deg, rgba(0, 43, 99, 0.07922090238615942) 39%, rgba(242, 140, 143, 0.5) 18%),linear-gradient(118deg, rgba(84, 202, 242, 0.03152997265339608) 40%, rgba(247, 155, 187, 0.5) 54%),linear-gradient(58deg, rgba(90, 90, 237, 0.16144443572260592) 83%, rgba(249, 156, 142, 0.5) 23%);
   background-blend-mode: normal,lighten,multiply,hard-light;
 }
.button {
    --width: 180px;
    --height: 50px;
   font-size: 16px;
    width: var(--width);
    height: var(--height);
    background: black;
    position: relative;
    text-align: center;
    border-radius: 50px;
    font-family: "Arial";
    transition: background 0.3s;
    border: 3px solid #272727;
  }
  

  
 
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    /* background: #6c18ff; */
    background: black;
    border: 3px solid white;
    border-radius: 50px;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
/* From Uiverse.io by Sergestra */ 
/* .button {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
   }
   
   .button div {
    transform: translateY(0px);
    width: 100%;
   }
   
   .button,
   .button div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
   }
   
   .button div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.75em 1.125em;
   }
   
   .button div:nth-child(1) {
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50px;
   }
   
   .button div:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
   }
   
   .button:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
   }
   
   .button:hover div {
    transform: translateY(-50px);
   }
   
   .button p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
   }
   
   .button:active {
    transform: scale(0.95);
   }


 */


